/*Zera as margens e paddings de todos os elementos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define o layout principal com display flex ocupando a tela inteira*/
body{
    display: flex;
    height: 100vh;
    font-family: arial, sans-serif;
}

/* Painel da esquerda com fundo escuro e imagem de fundo */
.left-panel{
    flex: 2;/* Ocupa 2/3 da largura da tela */
    background: url("../static/logo_maior.png") no-repeat center;
    background-size: cover;
    background-color: #000;
}

/* Painel da direita com fundo branco e formulário centralizado */
.right-panel{
    flex: 1;/* Ocupa 1/3 da Largura */
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Imagem do logo da Guarda municipal no topo*/
.logo img{
    width: 250px;
    margin-bottom: 30px;
    border-radius: 25px;
}

/* Container do fomulário*/
.login-box{
    width: 100%;
    max-width: 300px;    
}

/* Estilo do label do fomulário */
.login-box{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

/* Estilo dos campos de entrada */
.login-box input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-origin: 1px solid #999;
    border-radius: 2px;
    
}

/* Estilo do botão de login */
.botao{
    width: 100%;
    padding: 10px;
    background-color: #2563eb;/* Azul microsoft*/
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;  
}

.botao:hover{
    background-color: #1e4dc0;
}